<main class="app">
    <div id="container1">
        <div id="col1">
            <div *ngFor="let snippet of snippets">
                <div
                        dnd-draggable
                        [dragEnabled]="true"
                        [clone]="true"
                        [dragData]="snippet"
                >
                    <div class="snippet">{{snippet.data}}</div>
                </div>
            </div>
        </div>
        <div id="col2">
            <div>{{listData.length}} Elements</div>
            <hr/>

            <div class="panel-body" dnd-list-container (onDropSuccess)="dropSnippet($event)" [listData]="listData">
                <ul class="list-group" >
                    <div *ngFor="let snippet of listData" class="list-group-item"
                         dnd-list-item
                         [dragData]="snippet">
                        <div class="snippet">{{snippet.data}}</div>
                    </div>
                </ul>
            </div>
        </div>
        <div id="col3">
            <div>{{listData2.length}} Elements</div>
            <hr/>

            <div class="panel-body" dnd-list-container (onDropSuccess)="dropSnippet2($event)" [listData]="listData2">
                <ul class="list-group" >
                    <div *ngFor="let snippet of listData2" class="list-group-item"
                         dnd-list-item
                         [dragData]="snippet">
                        <div dnd-drag-handle>Drag Handle</div>
                        <div class="snippet">{{snippet.data}}</div>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</main>


<footer class="footer">
    © Neatlines 2016
</footer>
