.app {
  #container1 {
    float:left;
    width:100%;
  }
  #col1 {
    float:left;
    width:30%;
    min-height: 200px;
    background:red;
  }
  #col2 {
    float:left;
    width:40%;
    background:yellow;
    min-height: 200px;
  }
  #col3 {
    float:left;
    width:30%;
    background:green;
    min-height: 300px;
  }
  .snippet {
    height:50px;
    background: rgba(100,100,100, 0.5);
  }
}