.app {
  #container1 {
    float: left;
    width: 100%;
  }
  #col1 {
    float: left;
    width: 20%;
    min-height: 200px;
    background: red;
  }
  #col2 {
    float: left;
    width: 40%;
    background: yellow;
  }
  #col3 {
    float: left;
    width: 40%;
    background: green;

  }
  .snippet {
    margin: 10px;
    min-height: 50px;
    background: rgba(100, 100, 100, 0.5);
  }
  .panel-body {
    padding: 5px;
    min-height: 400px;
  }
  .list-group-item {
    background: rgba(100, 100, 100, 0.5);
  }

  div[dnd-list-item] {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  div[dnd-list-item].dnd-drag-start {
    background: red;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }



}